.container {
  display: flex;
  height: 100vh;
}

.left-half {
  width: 30%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: white
  /* background-color: rgba(0, 0, 0, 0.285); */
}

.profile-photo {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 100px; 
  margin-bottom: 20px;
  margin-left: 150px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 150px;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.email-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  word-break: break-all;
  margin-left: 150px;
}

.email-link:hover {
  text-decoration: underline;
}

.right-half {
  width: 70%;
  overflow-y: auto;
  padding: 0px;
  background-color: rgba(249, 248, 248, 0.958);
}
.profile-name {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 150px;
}

.profile-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1em;
  color: white;
  margin-left: 150px;
}